.idea
.DS_Store
.env
.vscode/
Pipfile.lock
__pycache__/
venv/
.env
project_name/data/full_data/
project_name/data/subset_data/
project_name/data/val/
project_name/data/train/
project_name/data/train_subset/
project_name/data/__pycache__/
project_name/data/val_subset/
/zoedepth/
project_name/data/train_subset.7z
project_name/data/val_subset.7z
project_name\trained_linear_model.pkl